<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="org.quange.springframework.aoptest.UserServiceAop"/>

    <bean class="org.quange.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="org.quange.springframework.aoptest.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="org.quange.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="org.quange.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* org.quange.springframework.aoptest.IUserServiceAop.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>